<div>
  <div class='grid'>
    <h1 class='topic-title'>
      <%= @topic.title %>
    </h1>
    <small>
      <%= link_to "Add a bookmark", new_topic_bookmark_path(@topic), class: "submit-link" %>
    </small>
  </div>
  <div class='grid'>
    <% @bookmarks.each do |bookmark| %>
      <div class='url-grid'>
        <blockquote class="embedly-card">
          <h4>
            <a href="<%= bookmark.url %>">
              <%= bookmark.name %>
            </a>
          </h4>
        </blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          <p>
            <%= link_to edit_topic_bookmark_path(bookmark.topic, bookmark) do %>
              <i class='icon ion-edit'></i>
            <% end %>
            <%= link_to topic_bookmark_path(bookmark.topic, bookmark), method: :delete do %>
              <i class='icon ion-trash-b'></i>
            <% end %>
          </p>
          <%= render partial: 'likes/like', locals: { topic: @topic, bookmark: bookmark } %>
      </div>
    <% end %>
  </div>
</div>
