<div class="grid">
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'bookmarks')" id="defaultOpen">Bookmarks</button>
    <button class="tablinks" onclick="openTab(event, 'likes')">Likes</button>
  </div>
  
  <div id="bookmarks" class="tabcontent">
    <div class="grid">
      <% @user_bookmarks.each do |bookmark| %>
      <div class='url-grid'>
        <h4><%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %></h4>
          <p>
            <%= link_to edit_topic_bookmark_path(bookmark.topic, bookmark) do %>
              <i class='icon ion-edit'></i>
            <% end %>
            <%= link_to topic_bookmark_path(bookmark.topic, bookmark), method: :delete do %>
              <i class='icon ion-trash-b'></i>
            <% end %>
          </p>
      </div>
      <%= render partial: 'likes/like', locals: { topic: bookmark.topic, bookmark: bookmark } %>
      <% end %>
    </div>
  </div>
  <div id="likes" class="tabcontent">
    <div class="grid">
      <% @liked_bookmarks.each do |like| %>
      <div class='url-grid'>
        <h4><%= link_to like.bookmark.url, topic_bookmark_path(like.bookmark.topic, like.bookmark) %></h4>
          <p>
            <%= link_to edit_topic_bookmark_path(like.bookmark.topic, like.bookmark) do %>
              <i class='icon ion-edit'></i>
            <% end %>
            <%= link_to topic_bookmark_path(like.bookmark.topic, like.bookmark), method: :delete do %>
              <i class='icon ion-trash-b'></i>
            <% end %>
          </p>
      </div>
      <%= render partial: 'likes/like', locals: { topic: like.bookmark.topic, bookmark: like.bookmark } %>
      <% end %>
    </div>
  </div>
</div>

<section>
    
</section>
