<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav-bar">
    <div class="brand">
      <span class="glyphicon glyphicon-bookmark brand-icon"></span>
      <a href="<% root_path %>" class="brand-title">Blocmarks</a>
    </div>
    <div class="user-links-container">
      <% if current_user %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'user-links' %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: 'user-links' %>
      <% end %>
    </div>
  </nav>
<%= yield %>

</body>
</html>
